.main-content {
    width: 100%;
}

.main-text {
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.main-text h1 {
    text-transform: uppercase;
    font-size: 2rem;
    width: 60%;
    overflow: hidden;
}

.main-text p {
    text-transform: capitalize;
    font-size: 1rem;
    width: 30%;
}