html {
    height: max-content;
}

@import url("../css/global.css");

body {
    background-color: var(--PALT_6);
    color: var(--PALT_6);
    font-family: 'Inter', sans-serif !important;
}


p {
    font-family: 'Inter';
    text-align: center;
    font-weight: bold;
}

.dbcontainer {
    margin: 5rem 10rem;
    /* border: 1px solid red; */
}

.profile-r {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2rem;
    /* border: 1px solid yellow; */
}

.user {
    background-color: var(--PALT_2);
    width: 100%;
    /* border: 1px solid green; */
    border-radius: 8px;
}

.ActiveServices {
    background-color: var(--PALT_2);
    /* height: 69.2%; */
    width: 70%;
    /* position: absolute; */
    /* border: 1px solid blue; */
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
}

.Addservice {
    background-color: var(--PALT_2);
    height: max-content;
    width: 25%;
    /* position: absolute; */
    margin-top: 2rem;
    /* border: 2px solid purple; */
    color: var(--PALT_6);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.add-service p
{
    margin-top: 1rem;
}
.button {
    display: inline-flex;
    color: var(--PALT_6);
    background-color: var(--PALT_4);
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-size: 0.84rem;
    cursor: pointer;
    width: 80%;
    height: 2.5rem;
    margin-left: 10%;
    margin-bottom: 10%;
    box-shadow: 2px 2px 2px var(--PALT_5);

}
.btn{
    line-height: 1;
}

.button:hover {
    background-color: var(--PALT_1);
}

.button__text {
    display: inline-flex;
    text-align: center;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

/* ----------- */

.username {
    display: flex;
    align-items: center;

}

.username i {
    margin-left: 1rem;
    display: none;
}

.user {
    display: flex;
    justify-content: space-between;
}

.profile-pic-user-details {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.profile-pic {
    border: 0.5rem solid var(--PALT_6);
    padding: 1rem 1.5rem;
    border-radius: 50%;
    background-color: var(--PALT_1);
    margin: 1rem;
}

.profile-pic i {
    color: var(--PALT_5);
}

.bell-editProfile {
    display: flex;
    gap: 3rem;
    align-items: center;
    align-self: flex-start;
    margin: 2rem 3rem 0 0;

}

#editUser span {
    margin-left: 0.5rem;
}

.editProfile button {
    color: var(--PALT_2);
    background-color: var(--PALT_6);
    border: var(--PALT_6);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

/* main body */

.heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0 2rem;
}

.active-pending {
    display: flex;
    align-self: center;
    gap: 1rem;
}

.apbuttons {
    background-color: var(--PALT_4);
    color: var(--PALT_6);
    border: var(--PALT_4);
    padding: 0.5rem 1.8rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 3px;
    width: 100%;
    box-shadow: 2px 2px 2px var(--PALT_5);
    cursor: pointer;
}

/* services  */

.service {
    display: flex;
    margin: 0 2rem;
    background-color: #e5e5e5;
    color: var(--PALT_2);
    border-radius: 0.3rem;
    padding: 0 1rem;
}


.name-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.description p {
    margin-top: 0%;
    text-align: left;
    font-weight: 100;
    font-size: 0.8rem;
}

.service-details {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

}

.service-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.btn-grp {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.btn {
    background-color: var(--PALT_6);
    color: var(--PALT_2);
    border: var(--PALT_4);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: 135px;
    height: 40px;
    box-shadow: 2px 2px 2px var(--PALT_r);
    font-weight: 500;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    font-size: 11px;
}

.date {
    font-size: 0.8rem;
}

.ActiveServices {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: max-content;
}







/* Media  */



@media (max-width:1350px) {
    .name-date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5rem;
    }
}

@media (max-width:1460px) {

    .button {
        font-size: 0.7rem;
    }
}

@media (max-width:1314px) {
    .button {
        font-size: 0.6rem;
    }
}

@media (max-width:1300px) {
    .description {
        display: none;
    }

    .service {
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    .name-date {
        flex-direction: row;
        align-items: center;
    }

    .btn {
        font-size: 11px;
        width: 100%;
    }

    .service-btn {
        flex-direction: row;
        justify-content: left;
    }
}

@media (max-width:1210px) {
    p {
        font-size: 20px;
    }
}

@media (max-width:1024px) {
  
s

    .name-date {
        align-items: center;
        justify-content: center;
    }

    .btn-grp {
        flex: 1 1 1;
    }

    .btn {
        width: 100%;
    }

    .dbcontainer {
        margin: 5rem;
    }
}

@media (max-width:1100px) {

    .add-service {
        display: block;
    }

    .btn {
        width: 100%;
        font-size: 0.8rem;
    }

    .button {
        margin: 0 5%;
    }
  
    .active-pending {
        flex-direction: column;
    }

    .profile-r {
        flex-direction: column;
    }

    .service-btn
    {
        justify-content: left;
        width: 100%;
    }

    .ActiveServices {
        width: 100%;
    }

    .Addservice {
        width: 100%;

    }

    .buttons {

        display: grid;
        width: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        margin-left: 1%;
    }
}

@media (max-width: 795px) {
    #h2{
        font-size: 1.9rem !important;
        margin-right: auto;
    }

    .dbcontainer {
        margin: 4rem;
    }
}

@media (max-width: 761px) {

    .dbcontainer {
        margin: 3rem;
    }

    .apbuttons {
        padding: 0.5rem 1em;
        font-size: 0.8rem;
    }

    .btn {
        font-size: 10px;
    }
}


@media (max-width: 715px) {
    .bell-editProfile {
        position: relative;
        right: 20px;
    }

    .fa-bell {
        display: none;
    }

    .buttons {
        gap: 0.5rem
    }

}

@media (max-width: 569px) {
    .dbcontainer {
        margin: 2rem;
    }

    .bell-editProfile {
        display: none;
    }    
}

@media (max-width: 527px) {
    .service-btn {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        gap: 1rem;
    }
    .date{
        display: none;
    }

    .grp1,
    .grp2 {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    .btn {
        width: 100%;
    }

    .buttons {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 510px) {
    .profile-pic i {
        width: 20%;
        height: 20%;
    }

    .profile-pic-user-details {
        gap: 0.5rem;
    }

    #h2 {
        font-size: 1.5rem !important;
    }

    #h3e {
        font-size: 1rem;
    }


}

@media (max-width:650px){
    .username i {
        display: block;
        margin-left: 20px;
    }

    .editProfile{
        display: none;
    }
}

@media (max-width: 417px) {
    #h2 {
        font-size: 1.5rem !important;
    }

    #h3e, #h3u {
        font-size: 0.8rem;
    }
}

@media (max-width: 377px) {
    .dbcontainer {
        margin: 1rem;

    }
      
    .profile-pic
    {
        padding: 1rem 1.5rem;
    }

    .profile-pic-user-details
    {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #h3u, #h3e{
        font-size: 1.1rem;
    }

    .editProfile
    {
        display: contents;
    }
}

/*Navbar*/
@import url("../css/global.css");

.navbar{
    min-height: 5vh;
    margin-bottom: 0;
    
    font-size: 1rem;

    background-color: var(--PALT_2);
    box-shadow: 0px 5px 10px #0005;
    
    z-index: 99;
    overflow: hidden;
}

#nav-logo{
    justify-content: center;
    position: relative;
    display: flex;
    height: 100%;
    aspect-ratio: 3/2;
}
#nav-logo img{
    object-fit: cover;
    object-position: 0 -0.5rem;
    width: 80px;
    aspect-ratio: 1;
}

.nav-item{
    margin: 0 0.2rem;
    transition: 0.1s transform;
    height: 100%;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav-item:hover{
    transform: scale(1.05) translateY(-5px);
}

#login-btn{
    background-color: var(--PALT_1);
    border-radius: 3rem;
    padding: 0 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
#login-btn > span{
    display: inline-flex;
    align-items: center;
}
#login-btn > span > img{
    height: 1.5rem;
    display: inline;
    opacity: 0.5;
}

/*footer*/
footer{
    padding: 1.5em 0;
    color: var(--PALT_6);
    font-size: 0.8rem;
    background-color: var(--PALT_2);
}
.footer-div{
    padding: 1em 20px;
}
footer ul{
    list-style: none;
    padding-left: 0;
    color: inherit;
}
footer  a{color: inherit}
footer h3{
    font-size: 1.5em;
    font-weight: bold;
}

#footer-socials{
    display: inline-block;
}
#footer-socials > li{
    float: left;
    padding: 0 1rem;
}

#form-subscribe{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: inline-flex;
}
#form-subscribe input{
    display: flex;
    width: 70%;
    background-color: white;
    color: var(--PALT_2);
    padding: 0.5rem 1rem;
    border-radius: 0;
}
#form-subscribe input[type='submit']{
    display: flex;
    width: 30%;
    background-color: var(--PALT_1);
    color: var(--PALT_6);
    font-weight: bold;
    border: transparent;
}
#form-subscribe input[type='submit']:hover{
    filter: brightness(0.5);
}

@media screen and (max-width: 600px) {
    footer{
        text-align: left;
    }
    
}