@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

:root{
    --PALT_1: #B29B6B;
    --PALT_2: #23262F;
    --PALT_3: #666666;
    --PALT_4: #39404D;
    --PALT_5: black;
    --PALT_6: white;
}
