@import url("global.css");

body{
    background: var(--PALT_6);
}

section{
    min-height: 100vh;
    border: solid var(--PALT_2) 1px;
    position: relative;
    margin: 0;
}

main > section:nth-child(odd){
    background-color: var(--PALT_2);
    color: white;
}

main > section:nth-child(even){
    background-color: var(--PALT_6);
    color: var(--PALT_2);
}

.section-title{
    margin-top: 3rem;
    text-align: center;
}
.section-title > h2{
    font-weight: 900;
    text-transform: uppercase;
}
.section-title > hr{
    width: 10%;
    height: 1.5px;
    background: var(--PALT_1);
}

#home-welcome-wave{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
}