@import url("global.css");

main{
    background-color: var(--PALT_2);
}

body{
    background: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    min-height: 100vh;
    position: relative;
    padding-top: 3rem;
}


main > section:nth-child(odd){
    background-color: var(--PALT_2);
    color: white;}
main > section:nth-child(even){
    background-color: var(--PALT_6);
    color: var(--PALT_2);}


.section-title{
    text-align: center;}
.section-title > h2{
    font-weight: 900;
    text-transform: uppercase;}
.section-title > hr{
    width: 10%;
    height: 1.5px;
    background: var(--PALT_1);}


#home-welcome-wave{
    position: absolute;
    bottom: -1px;
    left:0;
    width: 100%;
}

/*Our Partner*/
.slide-container{
    /* height: 300px; */
    /* border: 1px black solid; */
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
img{
    width: 100%;
    transition: transform 1s;
}
img:hover{
    transform: translateZ(10px);
}
.slide-img{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide-subcontainer{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 30s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}


/* Contact Us */
.contact-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.add, .ph, .email {
    align-items: center;
    height: 100%;
    position: relative;
    border-radius: 1.5rem;
    display: flex;
    width: 20rem;
    height: 16rem;
}

.upper{
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    background-color: #333845;
    border-radius: 1.5rem 1.5rem 0 0;
}

.lower{
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.92rem;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    background-color: #333845;
    border-radius: 0 0 1.5rem 1.5rem;
}

.icon{
    width: 25%;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1;
    color: #ffffff;
    background-color: #b29a6b;
    border-radius: 3rem;
}

